{% extends "base.html" %}
{% block title %}Campus{% endblock %}
{% block head %}Campus{% endblock%}
{% block titre %}Campus{% endblock %}
{% block search %} 
<form >
   {% comment %} <div class="search-box">
      <input type="text"  placeholder="Search..." name="Search">
      <a ><button name="" class='bx bx-search' ></button> </a>
    </div>  {% endcomment %}
</form>{% endblock %}

  {% block content %} 
  <tr><a href="/addcampus" class="w3-button w3-blue" >Ajouter un Campus </a>  <i class="fa fa-plus" style="color:#61B2FB;padding-left: 5px;font-size: 14px;font-weight: 500;"></i></button>
<div class="table-wrapper">
    <table class="fl-table">
    <th>Id</th>
    <th> code du Campus </th>
    <th>Campus</th>
    <th>Opération</th>
    {% if campus_data %}
{% for camp in campus_data %}
<tr>
<td>{{camp.id}}</td>
<td>{{camp.codecampus}}</td>
<td>{{camp.campus}}</td>
<td ><a href="{% url 'update_campus' camp.id %}"  onclick="return confirm('vous voulez vraiment modifier cet campus ?');" class="btn btn-outline-success" >modifier</a> 
<a href="delete_campus/{{camp.id}}" class="btn btn-outline-danger" onclick="return confirm('vous voulez vraiment supprimer cet campus ?');"> Supprimer</a> 
</td>
  
  </tr>{% endfor %}
  {% else %}
<tr>
  <td>Pas de donnees dans la base de donnees pour les campus </td>
</tr>
{% endif %}
{% endblock %}
  