asgiref==3.8.1
certifi==2021.10.8
charset-normalizer==2.0.12
distlib==0.3.4
Django==5.1.7
django-bootstrap-form==3.4
django-crispy-forms==1.14.0
django-filter==1.1.0
django-rest-auth==0.9.5
# djangorestframework==3.13.1
djangorestframework>=3.14.0,<4.0
djangorestframework-filters==0.11.1
djangorestframework_simplejwt==5.5.0
filelock==3.6.0
idna==3.3
mysqlclient==2.2.7
pillow==11.1.0
pipenv==2022.4.8
platformdirs==2.5.1
PyJWT==2.9.0
pytz==2022.1
requests==2.27.1
setuptools==76.0.0
six==1.16.0
sqlparse==0.4.2
tzdata==2022.1
urllib3==1.26.9
virtualenv==20.14.1
django-filter
virtualenv-clone==0.5.7
drf-spectacular drf-spectacular-sidecar
