{% extends "base.html" %}
{% block title %}Universites{% endblock %}
{% block head %}Universites{% endblock%}
{% block titre %}Universites{% endblock %}
{% block search %} 
<form >
   {% comment %} <div class="search-box">
      <input type="text"  placeholder="Search..." name="Search">
      <a ><button name="" class='bx bx-search' ></button> </a>
    </div>  {% endcomment %}
</form>{% endblock %}

  {% block content %} 
  <tr><a href="/adduniversite" class="w3-button w3-blue" >Ajouter un Universite </a>  <i class="fa fa-plus" style="color:#61B2FB;padding-left: 5px;font-size: 14px;font-weight: 500;"></i></button>
    <tr><a href="/home" class="w3-button w3-blue" >Retour au dashboard </a>  <i class="" style="color:#61B2FB;padding-left: 5px;font-size: 14px;font-weight: 500;"></i></button>


    <div class="table-wrapper">
    <table class="fl-table">
    <th>Id</th>
    <th> universite </th>
    <th>site_web</th>
    <th>campus</th>
    <th> ville </th>
    <th>Opération</th>
    {% if universite_data %}
{% for camp in universite_data %}
<tr>
<td>{{camp.id}}</td>
<td>{{camp.universite}}</td>
<td>{{camp.site_web}}</td>
<td>{{camp.campus}}</td>
<td>{{camp.ville}}</td>
<td ><a href="{% url 'update_universite' camp.id %}"  onclick="return confirm('vous voulez vraiment modifier cet universite ?');" class="btn btn-outline-success" >modifier</a> 
<a href="delete_universite/{{camp.id}}" class="btn btn-outline-danger" onclick="return confirm('vous voulez vraiment supprimer cet UNIVERSITE ?');"> Supprimer</a> 
</td>

  </tr>{% endfor %}
  {% else %}
<tr>
  <td>Pas de donnees dans la base de donnees pour les universites </td>
</tr>
{% endif %}
{% endblock %}
  