{% extends "base.html" %}
{% block title %}Emprunts{% endblock %}
{% block head %}Emprunts{% endblock%}
{% block titre %}Emprunts{% endblock %}
{% block search %} 
<form >
   {% comment %} <div class="search-box">
      <input type="text"  placeholder="Search..." name="Search">
      <a ><button name="" class='bx bx-search' ></button> </a>
    </div>  {% endcomment %}
</form>{% endblock %}

  {% block content %} 
  <tr><a href="/add_emprunt" class="w3-button w3-blue" >Ajouter Emprunt </a>  <i class="fa fa-plus" style="color:#61B2FB;padding-left: 5px;font-size: 14px;font-weight: 500;"></i></button>
    <tr><a href="/home" class="w3-button w3-blue" >Retour au dashboard </a>  <i class="" style="color:#61B2FB;padding-left: 5px;font-size: 14px;font-weight: 500;"></i></button>

    <div class="table-wrapper">
    <table class="fl-table">
    <th>Id</th>
    <th> Nom  </th>
    <th>Prenom</th>
    <th>Telephones</th>
    <th>CNI</th>
    <th>date_debut_emprunt</th>
    {% comment %} <th>date_fin_emprunt</th> {% endcomment %}
    <th> livre </th>
    <th>rendu</th>
    <th>Opération</th>
    {% if emprunt_data %}
{% for camp in emprunt_data %}
<tr>
<td>{{camp.id}}</td>
<td>{{camp.etrangere.nom}}</td>
<td>{{camp.etrangere.prenom}}</td>
<td>{{camp.etrangere.telephone}}</td>
<td>{{camp.etrangere.CNI}}</td>
<td>{{camp.date_debut}}</td>
{% comment %} <td>{{camp.date_fin_emprunt}}</td> {% endcomment %}
<td>{{camp.livre}}</td>
<td>{{ camp.rendu|yesno:"Oui,Non" }}</td>
<td ><a href="{% url 'update_emprunt' camp.pk %}"  onclick="return confirm('Etes vous vraiment sur que le livre est rendu?');" class="btn btn-outline-success" >modifier</a> 
<!-- <a href="delete_universite/{{camp.id}}" class="btn btn-outline-danger" onclick="return confirm('vous voulez vraiment supprimer cet UNIVERSITE ?');"> Supprimer</a>  -->
</td>

  </tr>{% endfor %}
  {% else %}
<tr>
  <td>Pas de donnees dans la base de donnees pour les emprunts </td>
</tr>
{% endif %}
{% endblock %}
  