{% extends "base.html" %}
{% block title %}Manage Abonnement{% endblock %}
{% block head %}Abonnement{% endblock%}
{% block titre %}Abonnement{% endblock %}
{% block search %} 
<form >
    <div class="search-box">
      <input type="text"  placeholder="Search..." name="Search">
      <a ><button name="" class='bx bx-search' ></button> </a>
    </div>
</form>{% endblock %}

  {% block content %} 
  <tr><a href="/addabonnes" class="w3-button w3-blue" >Ajouter un Abonnement </a>  <i class="fa fa-plus" style="color:#61B2FB;padding-left: 5px;font-size: 14px;font-weight: 500;"></i></button>
    <tr><a href="/home" class="w3-button w3-blue" >Retour au dashboard </a>  <i class="" style="color:#61B2FB;padding-left: 5px;font-size: 14px;font-weight: 500;"></i></button>


    <div class="table-wrapper">
    <table class="fl-table">
    <th>Id</th>
    <th>Type d'Abonnement</th>
    <th>Prix</th>
    <th>Date debut</th>
    <th>Date fin</th>
   
    <th>Opération</th>
    {% if abonne_data %}
{% for aut in abonne_data %}
<tr>
<td>{{aut.id}}</td>
<td>{{aut.type_abonnement}}</td>
<td>{{aut.prix}}</td>
<td>{{aut.date_debut}}</td>
<td>{{aut.date_fin}}</td>

<td ><a href="{% url 'update_abonne' aut.pk %}" onclick="return confirm('vous voulez vraiment Modifier cet Abonnement?');" class="btn btn-outline-success" >modifier</a> 
<a href="delete_abonne {{aut.Id}}" class="btn btn-outline-danger" onclick="return confirm('vous voulez vraiment supprimer cet Abonnement?');"> Supprimer</a> 
</td>
  
  </tr>{% endfor %}
  {% else %}
<tr>
  <td>Aucun resultant trouvé</td>
</tr>
{% endif %}
{% endblock %}
  