{% extends "base.html" %}
{% block title %}Universites{% endblock %}
{% block head %}Universites{% endblock%}
{% block titre %}Universites{% endblock %}
{% block search %} 
<form >
   {% comment %} <div class="search-box">
      <input type="text"  placeholder="Search..." name="Search">
      <a ><button name="" class='bx bx-search' ></button> </a>
    </div>  {% endcomment %}
</form>{% endblock %}

  {% block content %} 
  <tr><a href="/addfaculte" class="w3-button w3-blue" >Ajouter un Faculte </a>  <i class="fa fa-plus" style="color:#61B2FB;padding-left: 5px;font-size: 14px;font-weight: 500;"></i></button>
    <tr><a href="/home" class="w3-button w3-blue" >Retour au dashboard </a>  <i class="" style="color:#61B2FB;padding-left: 5px;font-size: 14px;font-weight: 500;"></i></button>


    <div class="table-wrapper">
    <table class="fl-table">
    <th>Id</th>
    <th> faculte </th>
    <th>universite</th>
    <th>Opération</th>
    {% if facult_data %}
{% for camp in facult_data %}
<tr>
<td>{{camp.id}}</td>
<td>{{camp.faculte}}</td>
<td>{{camp.universite}}</td>
<td ><a href="{% url 'update_faculte' camp.id %}"  onclick="return confirm('vous voulez vraiment modifier cet universite ?');" class="btn btn-outline-success" >modifier</a> 
<a href="delete_faculte/{{camp.id}}" class="btn btn-outline-danger" onclick="return confirm('vous voulez vraiment supprimer cet campus ?');"> Supprimer</a> 
</td>
  
  </tr>{% endfor %}
  {% else %}
<tr>
  <td>Pas de donnees dans la base de donnees pour les facultes </td>
</tr>
{% endif %}
{% endblock %}
  